@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.init-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
}
